<form action="/users/login" method="POST" class="boxtype">

        <h2>Login</h2>
        <br>    
        <label>Email</label>
        <input type="text" placeholder="Enter Email Id" id="uemail" required><br>
    
        <label>Password</label>
        <input type="password" placeholder="Enter Password" id="psw" required><br><br>

        <button class="btn btn-success" value="1" name="passRec" type="submit" >Login </button><br><br><br>

        <p>Don't have an account ?<a href="/users/register">Register Here</a></p>

</form>