<form action="/users/login" method="POST" class="boxtype">
    
    <h2>Register</h2>
    <br>    
    <label>Email</label>
    <input type="text" placeholder="Enter Email Id" id="uemail" required><br>

    <label>Password</label>
    <input type="password" placeholder="Enter Password" id="psw" required><br><br>

    <input class="chk" type="checkbox" id="student" name="student" value="Student">
    <label for="vehicle1"> Register as Student</label>

    <input class="chk" type="checkbox" id="instructer" name="instructer" value="Instructer">
    <label for="vehicle1"> Register as Instructer</label>

    <button class="btn btn-success" value="1" name="passRec" type="submit" >Login </button><br><br><br>

    <p>Already have an account ?<a href="/users/login">Login Here</a></p>

</form>