.head{
    padding: 20px;
    margin-top: 20px;
    text-align: center ;
    font-family: Arial ;

}

*{
    padding: 0px ;
    margin: 0px ;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
}

label{
    margin: 15px;
}

.boxtype {
    align-items: center;
    width: 25%;
    background: #DCDCDC;
    height: auto;
    padding: 45px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-home {
    width: 360px;
    background: #DCDCDC;
    height: 400px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    width: 100%;
    padding: 12px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
}

h2{
    text-align: center;
}

.chk {
    width: auto;
}

p{
    text-align: center;
}